
            <div class="span2">
                <div class="box fix_cell">
                    <div class="cell">
                        <strong class="gray">社区管理</strong>
                    </div>
                    <div class="cell">
                        <img align="absmiddle" alt="Dashboard" src="/public/images/dashboard.png" valign="middle">
                        &nbsp;
                        <a href="/admin" class="current_item">运行状态</a>
                    </div>
                    <div class="cell">
                        <img align="absmiddle" alt="Settings" src="/public/images/settings.png" valign="middle">
                        &nbsp;
                        <a href="/admin/site_settings">基本设置</a>
                    </div>
                    <div class="cell">
                        <img align="absmiddle" alt="Users" src="/public/images/users.png" valign="middle">
                        &nbsp;
                        <a href="/admin/users">用户</a>
                    </div>
                    <div class="cell">
                        <img align="absmiddle" alt="Nodes" src="/public/images/nodes.png" valign="middle">
                        &nbsp;
                        <a href="/admin/rooms">频道</a>
                    </div>
                </div>

            </div>
