  <form class="form-horizontal" action="{{url "Users.Create"}}" method="post" accept-charset="utf-8">
                <div class="control-group">
                    {{with $field := field "userform.Name" .}}
                    <label class="control-label" for="inputName">Name</label>
                    <div class="controls">
                        <input type="text" id="inputName" placeholder="Name" name="{{$field.Name}}" value="{{$field.Flash}}">
                        * <span class="error">{{$field.Error}}</span>
                    </div>
                    {{end}}
                </div>
                <div class="control-group">
                    {{with $field := field "userform.Email" .}}
                    <label class="control-label" for="inputEmail">Email</label>
                    <div class="controls">
                        <input type="text" id="inputEmail" placeholder="Email" name="{{$field.Name}}" value="{{$field.Flash}}">
                        * <span class="error">{{$field.Error}}</span>
                    </div>
                    {{end}}
                </div>
                <div class="control-group">
                    {{with $field := field "userform.Password" .}}
                    <label class="control-label" for="inputPassword">Password</label>
                    <div class="controls">
                        <input type="password" id="inputPassword" placeholder="Password" name="{{$field.Name}}" value="{{$field.Flash}}">
                        * <span class="error">{{$field.Error}}</span>
                    </div>
                    {{end}}
                </div>

                <div class="control-group">
                    {{with $field := field "userform.RepeatPassword" .}}
                    <label class="control-label" for="inputPassword">Repeat Password</label>
                    <div class="controls">
                        <input type="password" id="inputPassword" placeholder="Password repeat" name="{{$field.Name}}" value="{{$field.Flash}}">
                        * <span class="error">{{$field.Error}}</span>
                    </div>
                    {{end}}
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Sign Up</button>
                    </div>
                </div>
            </form>