{{set . "title" "admin"}}
{{template "header.html" .}}
<div id="wrap">
    <div class="container" id="page-main">
        <div class="row">
            {{template "share/admin_navbar.html" .}}
            <div class="span8">
                <div class="row">
                    <div class="box span8">
                        <div class="cell"> 所有用户 </div>
                        <div class="inner">
                            <table class="topics table">
                                <thead>
                                    <tr>
                                        <th class="w50">ID</th>
                                        <th align="left" class="auto">用户名</th>
                                        <th align="left" class="auto">Email</th>
                                        <th class="w100">注册时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{range .users}}
                                    <tr>
                                        <td class="w50">
                                            {{.Id}}
                                        </td>
                                        <td class="auto">
                                            {{.Name}}
                                        </td>
                                        <td class="auto">
                                            {{.Email}}
                                        </td>
                                        <td class="w100">
                                            <small class="gray">{{.Created}}</small>
                                        </td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "footer.html" .}}
